<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
   <div layout:fragment="pageContent">
       <div class="container mt-5">
           <div class="card mb-5">
               <div class="text-center">
                   <h1>Saved !!</h1>
               </div>
           </div>
       </div>
   </div>
</body>
</html>