<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeLeaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
</head>
<body>
<div layout:fragment="pageContent" class="vertical-center">
    <div class="container">
        <div id="notfound" class="text-center ">
            <h1>😮</h1>
            <h2>Oops! Page Not Be Found</h2>
            <p>Sorry but the page you are looking for does not exist.</p>
            <a th:href="@{/city}">Back to homepage</a>
        </div>
    </div>
</div>
</body>
</html>